spring:
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true

  
logging:
  level:
    me.kiporenko: DEBUG
    org.springframework.security: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE

debug: true